<p class="text-center">
  <strong>{{model.title}}</strong>
</p>

{{#each model.informations as |info| }}
<div class="progress-group">
  <span class="progress-text">{{info.title}}</span>
  <span class="progress-number"><b>{{info.remaining}}</b>/{{info.capacity}}</span>

  <div class="progress sm">
    <div class="progress-bar {{info.background}}" style="width: {{info.percentage}}%"></div>
  </div>
</div>
<!-- /.progress-group -->
{{/each}}