<table class="table no-margin">
  <thead>
  <tr>
    <th>PID</th>
    <th>Client</th>
    <th>Name</th>
    <th>Assignee</th>
    <th>Hours</th>
    <th>Office</th>
    <th>OWP</th>
  </tr>
  </thead>
  <tbody>
  {{#each projects as |project|}}
  <tr>
    <td>{{#link-to "project-detail"}}{{project.pid}}{{/link-to}}</td>
    <td>{{project.client}}</td>
    <td>{{project.name}}</td>
    <td>{{project.assignee}}</td>
    <td>{{project.hours}}</td>
    <td>{{project.office}}</td>
    <td>{{project.createdBy}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>