{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">

  <!-- South Bay Capacity-->
  <div class="row">

    <!-- Capacity -->
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Team Capacity</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          {{progress-group model=model.capacity}}
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->

    <!-- Wait Listed Project-->
    <div class="col-md-4">

      <!-- TABLE: Recently Added Projects -->
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Wait Listed Project</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="box-body">
          <div class="table-responsive">
            {{wait-list-project-small projects=model.waitListedProjects}}
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->

    <!-- Leave -->
    <div class="col-md-4">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Leave Today</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="users-list clearfix">
            {{#each model.leaves as |user|}}
              <li>
                <img src="{{user.picture}}" alt="User Image">
                <a class="users-list-name" href="#">{{user.name}}</a>
                {{#if user.isHalfDay}}<span class="users-list-date">Half Day</span>{{/if}}
              </li>
            {{/each}}
          </ul>
          <!-- /.users-list -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
          <a href="javascript:" class="uppercase">View Other Days</a>
        </div>
        <!-- /.box-footer -->
      </div>
      <!--/.box -->
    </div>
    <!-- /.col -->

  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-12">

      <!-- TABLE: Recently Added Projects -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Today's Project</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="box-body">
          <div class="table-responsive">
            {{project-list-large projects=model.projects}}
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
<!-- /.content -->



