{{application-content-header model=model.header}}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- Main Panel -->
    <div class="col-md-8">
      <!-- Project Information-->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="icon ion ion-easel"></i>Project Information</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-6 form-detail row">
                  <label class="col-sm-3">PID #</label>
                  <div class="col-sm-9">{{model.project.pid}}</div>
                </div>
                <div class="col-md-6 form-detail row">
                  <label class="col-sm-3">Client</label>
                  <div class="col-sm-9">{{model.project.client}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-detail row">
                  <label class="col-sm-3">Address</label>
                  <div class="col-sm-9">{{model.project.client}}</div>
                </div>
                <div class="col-md-6 form-detail row">
                  <label class="col-md-3">Revision</label>
                  <div class="col-md-9">
                    {{#if model.project.isRevision}}
                      <span class="label label-danger">Yes</span>
                    {{else}}
                      <span class="label label-success">No</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row-->

      <!-- Deliverables -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="icon fa fa-truck"></i>Scope & Deliverables</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body pad">
              <div class="form-detail">
                <label>Scope</label>
                <pre>{{model.project.scope}}</pre>
              </div>
              <div class="form-detail">
                <label>Deliverables</label>
                <pre>{{model.project.deliverables}}</pre>
              </div>
            </div>
            <!--/.box-body -->
          </div>
          <!--/.box -->
        </div>
      </div>
      <!-- /.row-->

      <!-- Attachment -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="icon ion ion-document-text"></i>Files</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Add File Path"><i
                    class="fa fa-plus"></i></button>

                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>File Location</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each model.project.files as |file|}}
                  <tr>
                    <td>{{file.location}}</td>
                    <td>{{file.description}}</td>
                  </tr>
                {{/each}}
                </tbody>
              </table>

            </div>
            <!--/.box-body -->
          </div>
          <!--/.box -->
        </div>
      </div>
      <!-- /.row-->

      <!-- Subtask -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="icon fa fa-tasks"></i>Subtask</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Add Subtask"><i
                    class="fa fa-plus"></i></button>

                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Assignee</th>
                  <th>Status</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each model.project.subtasks as |task|}}
                  <tr>
                    <td>
                      {{#if (compare task.type "Design")}}
                        <i class="fa fa-pencil-square-o"></i>
                      {{else if (compare task.type "Render")}}
                        <i class="fa fa-paint-brush"></i>
                      {{else if (compare task.type "Audit")}}
                        <i class="fa fa-check-square-o"></i>
                      {{/if}}
                    </td>
                    <td>{{task.name}}</td>
                    <td>{{task.assignee}}</td>
                    <td>
                      {{#if (compare task.status "Closed")}}
                        <span class="label label-success">Closed</span>
                      {{else if (compare task.status "Open")}}
                        <span class="label label-warning">Open</span>
                      {{else}}
                        <span class="label label-info">In Progress</span>
                      {{/if}}
                    </td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-v"></i></button>
                        <ul class="dropdown-menu" role="menu">
                          {{#if (compare task.status "In Progress")}}
                            <li><a href="#">Close</a></li>
                            <li class="divider"></li>
                          {{/if}}
                          <li><a href="#">Edit</a></li>
                          <li><a href="#">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                {{/each}}
                </tbody>
              </table>

            </div>
            <!--/.box-body -->
          </div>
          <!--/.box -->
        </div>
      </div>
      <!-- /.row-->
    </div>
    <!-- ./col-->

    <!-- Right Panels -->
    <div class="col-md-4">

      <!-- People -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="icon ion ion-person"></i>People</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body form-horizontal">
              <div class="form-detail row with-image">
                <label class="col-sm-3">Assignee</label>
                <div class="col-sm-9">
                  <img class="img-responsive img-circle img-sm" src="{{model.project.assignee.image}}" alt="Assignee Image">
                  <p>{{model.project.assignee.name}}</p></div>
              </div>
              <div class="form-detail row with-image">
                <label class="col-sm-3">Updated</label>
                <div class="col-sm-9">
                  <img class="img-responsive img-circle img-sm" src="{{model.project.updatedBy.image}}" alt="Assignee Image">
                  <p>{{model.project.updatedBy.name}}</p>
                </div>
              </div>
              <div class="form-detail row with-image">
                <label class="col-sm-3">Created</label>
                <div class="col-sm-9">
                  <img class="img-responsive img-circle img-sm" src="{{model.project.createdBy.image}}" alt="Assignee Image">
                  <p>{{model.project.createdBy.name}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Dates-->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="icon ion ion-ios-calendar"></i> Dates</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
              <div class="form-detail row">
                <label class="col-sm-3">Due</label>
                <div class="col-sm-9">{{format-relativetime model.project.dueDate true}}</div>
              </div>
              <div class="form-detail row">
                <label class="col-sm-3">Updated</label>
                <div class="col-sm-9">{{format-relativetime model.project.updateDate}}</div>
              </div>
              <div class="form-detail row">
                <label class="col-sm-3">Created</label>
                <div class="col-sm-9">{{format-relativetime model.project.createdDate}}</div>
              </div>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
    <!-- ./col-->

  </div>
  <!-- ./row-->


  <!-- /.row-->
</section>